.container {
  display: flex;
  align-items: center;
  gap: 5px;
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translate(0, -50%);
  border: 1px solid #ccc;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,
    rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
  padding: 10px 10px;
  border-radius: 10px;
}

.container:hover {
  background-color: #fff;
}
